@import 'bootstrap/dist/css/bootstrap';
@import 'bootstrap-switch/dist/css/bootstrap3/bootstrap-switch';
@import 'color_variables';
@import 'lazy_loading';
@import 'chalkboard_bg';
@import 'chevalier';
@import 'dkvermilion';
@import 'minimal_form';
@import 'footer';


.extra-large-font {
  font-size: 60px;
}

.large-font {
  font-size: 43px;
}

.h-5 {
  height: 3rem !important;
}

.min-h-100 {
  min-height: 100%;
}

.curve {
  path {
    fill: transparent;
  }

  text {
    fill: $white;
  }
}

