@font-face {
  font-family: 'ChevalierSCDOT-StripesRegular';
  src: asset-url('ChevalierSCDOT-StripesRegular.eot?#iefix') format('embedded-opentype'),
  asset-url('ChevalierSCDOT-StripesRegular.otf')  format('opentype'),
  asset-url('ChevalierSCDOT-StripesRegular.woff') format('woff'),
  asset-url('ChevalierSCDOT-StripesRegular.ttf')  format('truetype'),
  asset-url('ChevalierSCDOT-StripesRegular.svg#ChevalierSCDOT-StripesRegular') format('svg');
  font-style: normal;
  font-weight: normal;
}

.chevalier {
  font-family: 'ChevalierSCDOT-StripesRegular';
}

// text {
//   fill: #ff9800;
// }
